exercise/sheet 2/exercise_7/exercise_7.json
[
    {
        "id": "8718997fe9701f38",
        "type": "tab",
        "label": "Exercise 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5251f68b956f6cc",
        "type": "mqtt in",
        "z": "8718997fe9701f38",
        "name": "",
        "topic": "temp_down",
        "qos": "0",
        "datatype": "utf8",
        "broker": "6d24ee5bc061f8cf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "edf91a127ba532f6"
            ]
        ]
    },
    {
        "id": "edf91a127ba532f6",
        "type": "debug",
        "z": "8718997fe9701f38",
        "name": "debug: mqtt data raw",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 120,
        "wires": []
    },
    {
        "id": "c579f93905b8bb51",
        "type": "serial in",
        "z": "8718997fe9701f38",
        "name": "",
        "serial": "9bb70a704192f291",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "7667e961d2cc7083",
                "b69cc6ea5b170f8c",
                "083fc02e650231b7"
            ]
        ]
    },
    {
        "id": "7667e961d2cc7083",
        "type": "mqtt out",
        "z": "8718997fe9701f38",
        "name": "",
        "topic": "temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6d24ee5bc061f8cf",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "b69cc6ea5b170f8c",
        "type": "debug",
        "z": "8718997fe9701f38",
        "name": "debug: data_raw",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "083fc02e650231b7",
        "type": "mqtt out",
        "z": "8718997fe9701f38",
        "name": "",
        "topic": "data_raw",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6d24ee5bc061f8cf",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "aca0c253b7d666b8",
        "type": "ui_spacer",
        "z": "8718997fe9701f38",
        "name": "spacer",
        "group": "4cc82d2ba5fd52bf",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d24ee5bc061f8cf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "c4f59c3940fb48338465cbe506cbbb97.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "231474e862b335f9",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9bb70a704192f291",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "4cc82d2ba5fd52bf",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "13776e66c00bb7b6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "231474e862b335f9",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "c4f59c3940fb48338465cbe506cbbb97.s1.eu.hivemq.cloud",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "13776e66c00bb7b6",
        "type": "ui_tab",
        "name": "TEMP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]